<h1>
  Noah Castorena
</h1>

<h3>
  5 Things About Me
</h3>

<ol type="1">
  <li>I am a big Toronto Raptors fan, and basketball in general.</li>
  <li>I also enjoying watching anime, mainly action like My Hero Academia.</li>
  <li>I also enjoy developing even though at times I get frustrated I still love doing it.</li>
  <li>I am a big fan of music producing and music in general. I hope in the future to find some common ground between developing and music.</li>
  <li>My dream job would be as a software engineer at a fun company like Hulu or Playstation.</li>
</ol>  
